################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CoursesManager/.vs/CoursesManager/FileContentIndex/12e1cf9a-64e4-4d2d-847d-15c62d51ea9c.vsidx
/CoursesManager/.vs/CoursesManager/FileContentIndex
